{% extends 'base/base.html' %}

{% block content %}

    <h3>Listado de Vehiculos</h3>
    <h1 class="pill-right">
        <a href="#" class="btn btn-prumary pull-right" style="margin-top: -10px; margin-bottom: 5px;">Adicionar</a>
    </h1>

        <table class="table table-success table-striped">
            <caption>List of users</caption>
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Modelo</th>
                <th scope="col">Color</th>
                <th scope="col">Placa</th>
                <th scope="col">Motor</th>
                <th scope="col">Marca</th>
                <th scope="col">Tipo Vehiculo</th>
            </tr>
            </thead>
            <tbody>
            {% if vehiculos %}
                {% for vehiculos in vehiculos %}
                    <tr>
                        <td>{{ vehiculo.id }}</td>
                        <td>{{ vehiculo.modelo }}</td>
                        <td>{{ vehiculo.color }}</td>
                        <td>{{ vehiculo.placa }}</td>
                        <td>{{ vehiculo.motor }}</td>
                        <td>{{ vehiculo.marca }}</td>
                        <td>{{ vehiculo.tipovehiculo }}</td>
                    </tr>

                {% endfor %}
                {% else %}
                    <h3>No existen registros</h3>
                    {% endif %}
                    
            </tbody>
        </table>

{% endblock %}